/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset and Global Styles */
:root {
    --section-margin: 8rem;
    --section-max-width: 1200px;
    --section-padding-width: 0rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

section {
    margin: 0 auto;
    max-width: var(--section-max-width);
    margin-bottom: var(--section-margin);
    padding: 0 var(--section-padding-width);
}

h2 {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
    padding-bottom: 1.6rem;
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

ul, ol {
    list-style: none;
}

/* Nav */
nav .logo {
    background-image: url("./assets/ready-sound-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    width: 140px;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    margin: 0 0.5rem;
}

.nav-links a {
    padding: 1rem;
}

.hero-image {
    background-image: url("./assets/boots-band.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin-bottom: var(--section-margin);
}

.hero-container {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.hero-content {
    padding: 10%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: white;
    text-align: right;
    /* text-shadow: 2px 2px 5px rgb(0, 0, 0); */
}

.hero-content h1 {
    font-size: 4.4rem;
    font-weight: 600;
    margin-bottom: 1.0rem;
    line-height: 0.9;
    letter-spacing: -2px;
}

.hero-content p {
    font-size: 1.0rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-weight: 300;
}

.hero-container .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 2rem;
    transition: transform .2s;
}

.hero-container .cta {
    /* backdrop-filter: blur(10px); */
    background: rgba(0, 0, 0, 0.1);
    padding: 0.7rem 1.5rem;
    border: 1.5px solid white;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2px;
    margin-bottom: 3.5rem;
    transition: 0.2s;
}

.hero-container .cta:hover {
    transform: scale(1.05);
    cursor: pointer;
}


i {
    display: inline-block;
    background-size: cover;
}

i.keyboard-down {
    background-image: url("./assets/keyboard-down.svg");
    width: 40px;
    height: 40px;
    animation: MoveUpDown 2s linear infinite;
    position: absolute;
    bottom: 0;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 25px;
    }
    15% {
      bottom: 20px;
    }

    20% {
        bottom: 23px;
    }

    40% {
        bottom: 25px;
    }
  }

i.truck,
i.eq,
i.package-icon {
    filter: invert(1);
    min-width: 100px;
    min-height: 100px;
    margin-right: 2rem;
}

i.truck {
    background-image: url("./assets/truck.svg");
}

i.eq {
    background-image: url("./assets/eq.svg");
}

i.package-icon {
    background-image: url("./assets/package.svg");
}

/* Value Propositions */
.value-proposition {
    padding: 2rem 2rem;
    margin: 1rem auto;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border-bottom: 2px solid black; */
    /* border-radius: 100px; */
    max-width: 990px;
}

.value-proposition .content {
    padding-left: 6px;
}

/* Packages */
.live-sound-packages {
    margin: 0 auto;
    max-width: var(--section-max-width);
    margin-bottom: var(--section-margin);
}

.package {
    max-width: 990px;
    margin: 4rem auto;
    padding: 1rem;
    text-align: start;
}

.package ul {
    margin-top: 10px;
    /* border-top: 2px solid black; */
    padding-top: 1rem;
    /* width: fit-content; */
}

.package .list-img-container {
    display: flex;
    justify-content: space-between;
}

.package li {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem;
    list-style-type: disc;
    line-height: 30px;
    border-top: 1px solid black;
}

.package li:last-child {
    border-bottom: 1px solid black;
}

.package .list-price-container {
    display: flex;
    flex-direction: column;
}

.package .price {
    /* color: #042225; */
    margin-top: 1.5rem;
    font-weight: 500;
}

.required-footnote {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 2px;
}

.package .img {
    border: 1px solid black;
    /* flex: 1; */
    width: 300px;
    height: 300px;
    margin: 0 2rem;
    align-self: center;
}

.img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img.standard-package,
.img.events-dj,
.img.live-music {
    filter: grayscale(1);
}

.img.standard-package {
    background-image: url("./assets/mic-orange.jpg");
}

.img.events-dj {
    /* background-image: url("./assets/hands-crowd.jpg"); */
    background-image: url("./assets/party.jpg");
}

.img.live-music {
    /* background-image: url("./assets/seattle-music-2.jpg"); */
    background-image: url("./assets/hands-crowd.jpg");
}

.img.live-sound-engineering {
    background-image: url("./assets/live-sound-view.jpg");
    width: 400px;
    height: 250px;
    /* filter: grayscale(0.1); */
    margin: 0 2rem;
}

/* Services */
.services {
    margin: 0 auto;
    max-width: var(--section-max-width);
    margin-bottom: var(--section-margin);
}

.services .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 990px;
    padding: 0 2rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.services p {
    max-width: 500px;
    /* text-align: right; */
}

.get-in-touch {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8rem;
}

.get-in-touch a {
    display: inline-block;
    margin: 1rem 0;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.906);
    color: #f4f4f4;
}

footer .logo {
    height: 100px;
    width: 160px;
    background-image: url("./assets/ready-sound-black.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    margin-bottom: 1rem;
}

footer .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

footer .right {
    margin-right: 2rem;
    padding: 1rem;
}

footer .quick-links {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6rem;
}