/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset and Global Styles */
:root {
    --section-margin: 6rem;
    --section-max-width: 1050px;
    --section-padding-width: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: fit-content;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

section {
    margin: 0 auto;
    max-width: var(--section-max-width);
    margin-bottom: var(--section-margin);
    padding: 0 var(--section-padding-width);
}

img {
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

h2 {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
    padding-bottom: 4rem;
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid rgba(0, 0, 0, 0.0);
}

a:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
}

ul,
ol {
    list-style: none;
}

/* Nav */
nav .logo {
    background-image: url("./assets/ready-sound-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    width: 140px;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    margin: 0 0.5rem;
}

.nav-links a {
    padding: 1rem;
}

.hero-image {
    background-image: url("./assets/boots-band.jpg");
    background-size: cover;
    background-position: center;
    height: fit-content;
    margin-bottom: var(--section-margin);
}

.hero-container {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.hero-content {
    padding: 10%;
    color: white;
    text-align: right;
    /* text-shadow: 2px 2px 5px rgb(0, 0, 0); */
}

.hero-content h1 {
    font-size: 4.4rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
    line-height: 0.9;
    letter-spacing: -2px;
}

.hero-content p {
    font-size: 1.0rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    font-weight: 300;
}

.hero-container .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 2rem;
    transition: transform .2s;
}

.hero-container .cta {
    /* backdrop-filter: blur(10px); */
    background: rgba(0, 0, 0, 0.1);
    padding: 0.7rem 1.5rem;
    border: 1.5px solid white;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2px;
    margin-bottom: 3.5rem;
    transition: 0.2s;
}

.hero-container .cta:hover {
    transform: scale(1.05);
    cursor: pointer;
}


i {
    display: inline-block;
    background-size: cover;
}

i.keyboard-down {
    background-image: url("./assets/keyboard-down.svg");
    width: 40px;
    height: 40px;
    animation: MoveUpDown 2s linear infinite;
    /* position: absolute; */
    bottom: 0;
}

/* @keyframes MoveUpDown {
    0%,
    100% {
        bottom: 25px;
    }

    15% {
        bottom: 20px;
    }

    20% {
        bottom: 23px;
    }

    40% {
        bottom: 25px;
    }
} */

/* Value Propositions */
i.truck,
i.eq,
i.package-icon {
    filter: invert(1);
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 1rem;
}

i.truck {
    background-image: url("./assets/truck.svg");
    margin-bottom: 0.1rem;
}

i.eq {
    background-image: url("./assets/eq.svg");
}

i.package-icon {
    background-image: url("./assets/package.svg");
}

.value-propositions .top {
    /* display: flex; */
    justify-content: space-between;
    gap: 5rem
}

.value-proposition {
    max-width: 560px;
    margin: 0 auto;
    margin-bottom: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value-proposition h3 {
    text-align: center;
}

.package {
    margin-bottom: 5rem;
    text-align: start;
}

.package:last-child {
    margin-bottom: 0;
}

.package ul {
    margin-top: 10px;
    /* border-top: 1px solid black; */
    padding-top: 1rem;
    /* width: fit-content; */
}

.package .list-img-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.package li {
    /* margin-left: 1rem; */
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.7rem;

}

.package .list-price-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    flex: 1;
}

.package .price {
    margin-bottom: 1.5rem;
    font-weight: 500;
    width: fit-content;
}

.package .price .value {
    font-weight: 500;
}

.required-footnote {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 2px;
}


/* Services */
.services .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
}

.services p {
    max-width: 500px;
}

.services .price {
    font-weight: 500;
}

.services .day-rates {
    margin-top: 2rem;
    width: fit-content;
}

.day-rates li {
    font-size: 1.1rem;
}

/* Get in touch */
.get-in-touch a {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    border: 1.5px solid black;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2px;
    margin-bottom: 3.5rem;
    transition: 0.2s;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.906);
    color: #f4f4f4;
}

footer .left {
    padding: 1rem;
}

footer .logo {
    height: 100px;
    width: 160px;
    background-image: url("./assets/ready-sound-black.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    margin-bottom: 1rem;
}

footer .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

footer .contact-links {
    margin-left: 0.2rem;
}

footer .contact-links p {
    margin-bottom: 0.5rem;
}

footer .social-links {
    display: flex;
    justify-content: center;
}


footer .social-links a {
    width: 50px;
    height: 50px;
}

footer .right {
    height: fit-content;
    margin: auto;
    margin-right: 2rem;
    padding: 1rem;
}

footer .right h3 {
    margin-bottom: 1rem
}

footer .quick-links {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

footer .copyright {
    font-size: 1rem;
    margin-top: 3rem
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

    .nav-links a {
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .logo {
        margin-bottom: 1rem;
    }
}


@media (max-width: 768px) {
    .package .list-img-container {
        flex-direction: column-reverse;
        margin-bottom: 6rem;
    }

    .package .img {
        margin: auto;
        margin-bottom: 4rem;
    }

    .package li {
        /* font-size: 1rem; */
        text-indent: -1rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
        line-height: 1.4rem;
    }
}

@media (max-width: 768px) {
    .services .container {
        flex-direction: column;
    }

    .services .img {
        margin: auto;
        margin-bottom: 4rem;
    }
}

@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
        align-items: center;
    }

    footer .logo {
        margin: 0 auto;
        margin-bottom: 2.5rem;
    }

    footer .contact-links p {
        margin-bottom: 1rem;
    }

    footer .left,
    footer .right {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    footer .right {
        margin-right: 0;
    }

    footer .quick-links {
        align-items: center;
    }
}